@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guía Número 2 Página Web</h1>
    <p class="lead">Realizada por: <br />
    ANGELA CERON BENAVIDES<br />
    VICTOR ALFONSO DELGADO BOLAÑOS</p>
    <p><a href="/Usuario" class="btn btn-primary btn-lg">Actividad 1 Registro &raquo;</a></p>
</div>

